
<div class="container p-4 col-md-8" style="margin-top: 40px;">
    <div class="row">
        <div class="card mb-6 p-1 mx-auto col-md-12">
            <div class="card-body">
                <h1 style="text-align: center;">{{parametros.type}} Poblacional</h1>
            </div>
        </div>
        <div class="card mb-6 p-1 mx-auto col-md-12">
            <div class="card-body">
                <h2>Datos:</h2>
                <table class="table table-hover">
                    {{#if parametros.varianza}}
                        <tr>
                            <th>Varianza:</th>
                            <td>{{parametros.varianza}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.N}}
                        <tr>
                            <th>N:</th>
                            <td>{{parametros.N}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.n}}
                        <tr>
                            <th>n:</th>
                            <td>{{parametros.n}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.suma}}
                        <tr>
                            <th>Suma:</th>
                            <td>{{parametros.suma}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.totalElementos}}
                        <tr>
                            <th>Total Elementos:</th>
                            <td>{{parametros.totalElementos}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.promedio}}
                        <tr>
                            <th>Promedio:</th>
                            <td>{{parametros.promedio}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.q}}
                        <tr>
                            <th>q:</th>
                            <td>{{parametros.q}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.p}}
                        <tr>
                            <th>p:</th>
                            <td>{{parametros.p}}</td>
                        </tr>
                    {{/if}}
                    {{#if parametros.cota}}
                        <tr>
                            <th>Cota:</th>
                            <td>{{parametros.cota}}</td>
                        </tr>
                    {{/if}}

                </table>
            </div>
        </div>

        <div class="card mb-6 p-1 mx-auto col-md-12">
            <div class="card-body">
                <h2>resultado:</h2>
                <table class="table table-hover">
                    {{#if resultado.estimacion}}
                        <tr>
                            <th>Estimado:</th>
                            <td>{{resultado.estimacion}}</td>
                        </tr>
                    {{/if}}
                    {{#if resultado.varianza}}
                        <tr>
                            <th>Varianza:</th>
                            <td>{{resultado.varianza}}</td>
                        </tr>
                    {{/if}}
                    {{#if resultado.cota}}
                        <tr>
                            <th>Cota:</th>
                            <td>{{resultado.cota}}</td>
                        </tr>
                    {{/if}}
                    {{#if resultado.margen}}
                        <tr>
                            <th>Margen de error:</th>
                            <td>{{resultado.margen}}%</td>
                        </tr>
                    {{/if}}
                    {{#if resultado.minimo}}
                        <tr>
                            <th>Intervalo de Confianza:</th>
                            <td>( {{resultado.minimo}} , {{resultado.maximo}} )</td>
                        </tr>
                    {{/if}}
                    {{#if resultado.muestra}}
                        <tr>
                            <th>Tamaño de la muestra:</th>
                            <td>{{resultado.muestra}}</td>
                        </tr>
                    {{/if}}    
                </table> 
                <br>
            </div>
        </div>
  
        <div class="card mb-6 p-1 mx-auto col-md-12">
            <div class="card-body">
                {{#each resultados}}
                    <h3>Estrato</h3>
                <table class="table table-hover">
                    {{#if estimacion}}
                        <tr>
                            <th>Estimado:</th>
                            <td>{{estimacion}}</td>
                        </tr>
                    {{/if}}
                    {{#if varianza}}
                        <tr>
                            <th>Varianza:</th>
                            <td>{{varianza}}</td>
                        </tr>
                    {{/if}}
                    {{#if cota}}
                        <tr>
                            <th>Cota:</th>
                            <td>{{cota}}</td>
                        </tr>
                    {{/if}}
                    {{#if margen}}
                        <tr>
                            <th>Margen de error:</th>
                            <td>{{margen}}%</td>
                        </tr>
                    {{/if}}
                    {{#if minimo}}
                        <tr>
                            <th>Intervalo de Confianza:</th>
                            <td>( {{minimo}} , {{maximo}} )</td>
                        </tr>
                    {{/if}}
                    {{#if muestra}}
                        <tr>
                            <th>Tamaño de la muestra:</th>
                            <td>{{muestra}}</td>
                        </tr>
                    {{/if}}    
                </table> 
                <br>
                {{/each}}
                

            </div>
        </div>
        <br>
 

    </div>
    <div id="buttonArea" class="d-grid gap-2" style="margin-top: 60px;">
        <a class="btn btn-warning" href="/">Regresar</a>
    </div>


</div>
